<div class="analytics-container">

<table>
  <thead>
    <tr>
      <th>Search Query</th>
      <th>View Count</th>
    </tr>
  </thead>
  <tbody>
    <% @user_queries.each do |query| %>
      <tr>
        <td><%= query.search_query %></td>
        <td><%= query.views_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>