<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item"><%= link_to 'Home', root_path, class: 'navbar-link' %></li>
    <li class="navbar-item"><%= link_to "Analytics", analytics_path, class: 'navbar-link' %></li>
    <li class="navbar-item"> <%= link_to "New post", new_post_path, class: "button new-button" %> </li>
  </ul>
</nav>