<h1>Editing post</h1>

<%= render "form", post: @post %>

<br>

<div class="button-container" >
  <%= link_to "Back to posts", posts_path, class: 'button back-button'%>
  <%= link_to "Show this post", @post, class: 'button show-button' %> 
</div>